html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    color: purple;
    font-size: 4rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  nav a  {
    text-decoration: none;
    padding-left: 0.5rem;
  }

  nav img  {
    background: purple;
    height: 25px;
  }