---
import "../styles/global.css";

const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cálida Planta | {pageTitle}</title>
  </head>
  <body>
    <nav>
      <div>
        <img src="../../public/favicon.svg" alt="Header Logo" />
      </div>
      <div>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
      </div>
    </nav>

    <h1>{pageTitle}</h1>
  </body>
</html>
