---
import Hamburger from "./Hamburger.astro";
---

<header>
  <nav>
    <div>
      <img src="/favicon.svg" alt="Header Logo" />
    </div>
    <Hamburger />
    <div class="header-menu nav-links expanded">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>
    </div>
  </nav>
</header>
